a {
    color: inherit;
    text-decoration: noe;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(images/brick.png);
   

}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 15px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(102, 170, 170);
    
    
}

.menu ul{
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    
}

.menu a{
    font-size: 16px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    background: grey;
    padding: 10px 25px;
    border-radius: 20px;
    background: linear-gradient(#4B79A1 50%, #283e51 100%);
    
}

.btn:hover {
    background: transparent;

}

.hero {
    height: 100vh;
    position: relative;

}

h3{
    color: rgb(102, 148, 148);
}